@model DemoMVC.Models.Movie;
<h1>Movie Info</h1>
<hr />
<p>
	<b>@Html.DisplayNameFor(m=>m.Id)</b> : @Html.DisplayFor(m=>m.Id)
</p>
<p>
	<b>@Html.DisplayNameFor(m=>m.Name)</b> : @Html.DisplayFor(m=>m.Name)
</p>
<p>
	<b>@Html.DisplayNameFor(m=>m.Year)</b> : @Html.DisplayFor(m=>m.Year)
</p>
<p>
	<b>@Html.DisplayNameFor(m=>m.Rating)</b> : @Html.DisplayFor(m=>m.Rating)
</p>
<hr />